content
    #wrapper(if="{{isAuth}}")
        inner-html
    #wrapper(if="{{!isAuth}}")
        #authMessage YOU ARE IS NOT AUTHORIZED!
        img(src="http://shadowness.com/file/item6/172629/image.jpg")#not-auth-img