include ../../mixins/icons
web-datepicker
    // Simple
    web-input(placeholder="{{placeholder}}",named="{{named}}",validation="{{validation}}",mode="{{mode}}",value="{{value}}",show='{{type=="simple"}}',name="date")
        #icon
    // FromTo
    web-input(placeholder="From",name="from",validation="{{validation}}",mode="{{mode}}",value="{{valueFrom}}",show='{{type=="fromto"}}',data-id="from",data-num="1")#from
        #icon
            +date
    web-input(placeholder="To",name="to",validation="{{validation}}",mode="{{mode}}",value="{{valueTo}}",show='{{type=="fromto"}}',data-id="to",data-num="2")#to
        #icon
            +date
    // Containers
    over-ground(center,layred,autoClose,bodyScale="false",blur="true",nopadding="true",noshadow="true",if='{{container=="popup"}}')
    web-slide(mode="absolute",closeto="{{closeTo}}",opened="false",apperance="right",if='{{container=="slide"}}',ease="Power3")
    // Calendar
    web-calendar(minyear="1920",maxyear="{{new Date().getFullYear()}}",type="{{type}}")#calendar

