web-datepicker
    web-input(placeholder="{{placeholder}}",named="{{named}}",validation="{{validation}}")
        #icon
    over-ground(center,layred,autoClose,bodyScale="false",blur="true",nopadding="true",noshadow="true")
        web-calendar(minyear="1920",maxyear="{{new Date().getFullYear()}}")
