@import 'nib';
@import "./public/stylesheets/vars";
web-spinner
  display: block;
  width 100%;
  height: 25px;
  position relative;
  #wrapper
    width 100%;
    height: 100%;
    position relative;
    padding 10px 0;
    #line
      border-color borderColor;
      margin 0;
    #button
      position absolute;
      width 25px;
      height 25px;
      border-radius 50%;
      border 1px solid borderColor;
      bottom: 2.5px;
      background basicMenuColor;
      cursor pointer;




