auth-form
  form
    display block
    margin 0 auto;
    width 300px
    height 220px
    input
      outline none;
      margin-top: 20px;
      width 300px;
      height 40px;
      border-radius 3px;
      padding 3px;
      color: #222222;
      border 1px solid #5b5b5b;
      &[type="submit"]
          &:hover
            background #a6a6a6;
      &[type="checkbox"]
        display block;
        margin 0 auto;
        margin-top 10px
        width 20px;
        height 20px;


