@import "../vars"
#newProjectForm
  #fieldset
    color borderColor;
    font-size 17px;
    margin-left 10px
    margin-top 10px;
  #buttonSet
    position fixed;
  #projectName,#aboutProject
     width 65%;
  #aboutProject,#projectName
    margin-top 65px;
  #projectTags,#projectLocation
     width 30%;
     margin-left 5%;
  #projectName, #projectTags,#aboutProject,#projectLocation
    display inline-block;

