@import "../vars"
web-input,web-select,web-datepicker
  margin-top 45px;
web-chooser
  margin-top 43px;
web-textarea
  margin-top 54px;
web-ripple-button
  &#submit, &#close, &#edit
    margin-top 76px;
#fieldset
   color borderColor;
   font-size 17px;
   margin-left 10px
   margin-top 10px;
web-calendar
  margin-top: 15px;
#freelancerButton
  margin-top 20px;