include ../../mixins/icons
web-spinner-input
    web-input.queue(name="webInput")#webInput
    web-slide(mode="absolute",closeto="{{closeTo}}",opened="false",apperance="right-queue",ease="Power2",name="slide",outdistance="650",timein="1000",timeout="800")#spinnerSlide
        #spinnerData
            #less.queue
              +leftArrow
            #info
                #amount.queue 0
                #text.queue {{text}}
            #more.queue
              +rightArrow
        web-spinner(name="spinner",max="{{max}}",min="{{min}}").queue
        web-ripple-button.yellow-round.t.queue(color="#fff",title="Set",style="margin-top:20px")#setButton