@import 'nib';
over-ground
 &>#wrapper
    display block;
    position absolute;
    z-index 12;
    min-width 150px;
    min-height 150px;
    max-width 960px;
    max-height 720px;
    background #fff;
    border-radius: 5px;
    box-shadow 0px 0px 20px rgba( 0, 0, 0, 0.6 );
    transform: scale(1,1);
    transition: transform .3s;
    padding 10px;
    &.go
      transform: scale(1.2,1.2);
      transition: transform .3s;
  &[center] >
    #wrapper
      top: 50%;
      left:50%;
  #backdrop
    width 100%;
    height 100%;
    position absolute;
    top 0;
    bottom 0;
    z-index 11;
    background rgba(0,0,0,0);

html
  background url(http://subtlepatterns.com/patterns/dark_dotted.png) repeat #222;
body
  transform: scale(1,1);
  transition: transform .3s;
  &.over-ground
    transform: scale(.9,.9);
    transition: transform .3s;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
  &.over-blur
    transition: filter .3s;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);




