doctype html
html(ng-app="myApp")
    head
        title= title
        link(rel='stylesheet', href='./stylesheets/style.css')
        script(src='./javascripts/bundle.js',type='text/javascript')
    body
        div.b-wrapper
            div(ng-controller="FirstController") Controller
                div(test) TestDirective
            block content

