@import 'nib';
@import "./public/stylesheets/vars";
@import "./public/stylesheets/mixins";
x-snackbar
  display block;
  position absolute;
  &[right]
    left: 100%;
  &[bottom]
    top: 100%;
    margin-top -80px;
  #wrapper
    background snackBarColor;
    height auto;
    font-size 25px;
    font-family lightFamily; font-weight: 300;
    font-stretch ultra-condensed;
    text-align center;
    padding 0 40px;
    line-height 60px;
    max-width 400px;
    color: whiteTextColor;
    &.error
      background errorColor;




