@import "vars";

/**Header **/
menu(fontSize,color,hoverColor,height)
  font-family lightFamily;
  font-weight: 300;
  width 22%;
  vertical-align top;
  height height;
  line-height height;
  font-stretch ultra-condensed;
  float left;
  font-size fontSize;
  font-weight 100;
  cursor pointer;
  text-align center;
  transition background .2s ease-in;
  & a
    color: color;
    text-decoration none;
  &:hover
    background hoverColor;
    transition background .2s ease-out;
    & a
      color whiteTextColor;
/**Header **/
/**Global**/
basicLightFontStyle(size)
  font-family lightFamily; font-weight: 300;
  color whiteTextColor;
  text-align center;
  font-stretch ultra-condensed;
  font-size size;
/**Global**/
/**Buttons**/
basicRoundButton(color,width)
  display block;
  margin 0 auto;
  font-family lightFamily; font-weight: 300;
  font-size 16px;
  width width;
  height 30px;
  line-height 30px;
  cursor pointer;
  padding 0px 20px;
  background color;
  border-radius 20px;
  color: #fff;
  text-align center;
  transition background .2s ease-out;
  &:hover
    background darken(color,5) !important;
    transition background .2s ease-out;
/**Buttons**/