/*Colors*/
basicBackgroundColor = #DADDD3;
basicBodyColor = #ECEFE4;
secondaryColor = #B0B42B;
basicMenuColor = #4B4C47;
whiteTextColor = #fff;
grayTextColor = #B7AFA5;
swampTextColor = #555846;
errorColor = #ff3f59;
/*Colors*/

/*Typo*/
lightFamily = Open Sans;
baseFanily = Open Sans;
menuItemFontSize=25px;
/*Typo*/

/*Metrics*/
basicMenuWidth = 320px;
headerHeight = 75px;
/*Metrics*/

/*Urls*/

/*Urls*/

