/*Colors*/
basicBackgroundColor = #DADDD3;
basicBodyColor = #ECEFE4;
secondaryColor = #B0B42B;
buttonColor = #B0B42B;
secondaryButtonColor = #A5219C;
basicMenuColor = #4B4C47;
whiteTextColor = #fff;
grayTextColor = #B7AFA5;
swampTextColor = #555846;
swampErrorTextColor = #bb5846;
errorColor = #ff3f59;
borderColor = #B2A89B;
errorColor = #CC4C62;
snackBarColor = #A5A530;
/*Colors*/

/*Typo*/
lightFamily = 'Open Sans Light';
baseFanily = Open Sans;
menuItemFontSize=25px;
/*Typo*/

/*Metrics*/
basicMenuWidth = 320px;
headerHeight = 75px;
/*Metrics*/

/*Urls*/

/*Urls*/

