include ../../mixins/icons
web-calendar
    #wrapper
        #header
            #date
                #month {{sub(month,3)}}
                #day {{addNull(day)}}
                #year {{year}}
            #tabs-wrapper
                #tabs
                    .tab(class="{{selected:selected==1}}",data-id="1",onclick="{{changeTab}}") Month
                    .tab(class="{{selected:selected==2}}",data-id="2",onclick="{{changeTab}}") Day
                    .tab(class="{{selected:selected==3}}",data-id="3",onclick="{{changeTab}}") Year
                #line-wrapper
                    #line
        #body
            #content
                #tabConveyor
                    .tab-content(class="{{showed:selected==1}}",data-id="1")
                        #months-wrapper
                            .month(each="{{month,key in months}}",onclick="{{parent.setMonth}}",data-month="{{month}}",data-month-number="{{key}}")
                                .text(class="{{selected:month==parent.month}}",data-month="{{month}}",data-month-number="{{key}}"){{month}}
                    .tab-content(class="{{showed:selected==2}}",data-id="2")
                        #days-wrapper
                            .day(each="{{day in days}}",onclick="{{parent.setDay}}",data-day="{{day}}")
                                .text(class="{{selected:day==parent.day}}",data-day="{{day}}"){{parent.addNull(day)}}
                    .tab-content(class="{{showed:selected==3}}",data-id="3")
                        #years-wrapper
                            #arrow-left
                                .icon(onclick="{{prevYears}}")
                                    +leftArrow
                            #arrow-right
                                .icon(onclick="{{nextYears}}")
                                    +rightArrow
                            .year(each="{{year in years}}",onclick="{{parent.setYear}}",data-year="{{year}}")
                                .text(class="{{selected:year==parent.year}}",data-year="{{year}}") {{year}}
            #buttons
                web-ripple-button(color="#000",title="Cancel",onclick="{{cancel}}").outline
                web-ripple-button(color="#000",title="Ok",onclick="{{ok}}").outline
