@import "../vars";

/** Basics **/
body
  height 100vh;
  margin  0;
  background-color #ECEFE4;
  font-family 'Open Sans';
/** Basics **/
/** Markup **/
.padding0
  padding 0 !important;
.container-fluid
  height 100%;
  height 100vh;
  & > #wrapper.row
    height 100vh;
    table
      width 100%;
      height 100vh;
      td#menu
        background basicMenuColor;
        width basicMenuWidth;
        vertical-align top;
      td#content
        width auto;
        vertical-align top;
        min-height 180px;
        background basicBodyColor;

/** Markup **/