@import "../vars";
/** Basics **/
html
  background-color #ECEFE4;
body
  height 100vh;
  margin  0;
  background-color #ECEFE4;
  font-family 'Open Sans';
  apperance ease-in .2s 1;
  opacity 1;
  &.unresolved
    opacity 0;
/** Basics **/
/** Markup **/
.padding0
  padding 0 !important;
.container-fluid
  height 100%;
  height 100vh;
  & > #wrapper
    height 100vh;
    table
      width 100%;
      height 100vh;
      td#menu
        background basicMenuColor;
        width basicMenuWidth;
        vertical-align top;
      td#content
        width auto;
        vertical-align top;
        min-height 180px;
        background basicBodyColor;
        & #wrapper
          max-width 1540px;
          display block;
          margin 0 auto;
          position relative;

/** Markup **/
@-webkit-keyframes apperance {
  0% {
    opacity: 0;
  }
}
@keyframes apperance {
  0% {
    opacity: 0;
  }
}