x-media-queries
    core-media-query(query="(max-width: 768px)")#xs
    core-media-query(query="(min-width : 768px) and (max-width : 970px)")#sm
    core-media-query(query="(min-width : 970px) and (max-width : 1200px)")#md
    core-media-query(query="(min-width : 1200px) and (max-width : 1980px)")#lg
