x-media-queries
    x-media-query(query="(max-width: 768px)",name="xs")#xs
    x-media-query(query="(min-width : 768px) and (max-width : 970px)",name="sm")#sm
    x-media-query(query="(min-width : 970px) and (max-width : 1200px)",name="md")#md
    x-media-query(query="(min-width : 1200px) and (max-width : 1980px)",name="lg")#lg
