web-input
    #wrapper(class="{{error:!isValid}}")
        #placeholder(class="{{focus:focus}}",onclick="{{clickOnPlaceholder}}") {{placeholder}}
        x-tooltip
        input(value="{{value}}",onfocus="{{focusIn}}",name="{{named}}",onblur="{{blur}}",onkeyup='{{ edit }}',autocomplete="off")#input
        #clone-border
        #icons(if="{{icon}}")
        #max-length(show="{{maxLength}}") {{cahrtersLeft}}
    //hr#underline
    //hr#rightline
