web-input
    #placeholder(class="{{focus:focus}}") {{placeholder}}
    input(value="{{value}}",onfocus="{{focusIn}}",name="{{name}}",onblur="{{blur}}")#input
    #clone-border
    #icons(if="{{icon}}")
    //hr#underline
    //hr#rightline
