avatar
    over-ground(center,layred,autoClose,bodyScale="false")
        cropper
    #wrapper
        img(if="{{avatar}}",src="{{avatar}}")
        form(if="{{!avatar}}",enctype="multipart/form-data",action="/user/avatar-upload",method="POST",onsubmit="{{uploadFile}}")
            input(if="{{!avatar}}",type="file",name="uploadAvatar")
            input(type="submit",value="ok")
        #button(onclick="{{openCropDialog}}") OPEN CROPS
