avatar
    over-ground(center,layred,autoClose,bodyScale="false")
        cropper
    #wrapper(onmouseover="{{showBack}}",onmouseout="{{hideBack}}")
        img(if="{{src}}",src="{{src}}",class='{{(file.value || showBackdrop) ? "opacity" : ""}}')
        #imageSubstitute(if="{{!src}}",class='{{(file.value || showBackdrop) ? "opacity" : ""}}')
        #stroke
        #backdrop(show="{{showBackdrop}}")
            #loading(show="{{inProcess}}")
            form(show="{{!inProcess}}",enctype="multipart/form-data",action="/user/avatar-upload",method="POST",onsubmit="{{uploadFile}}")
                x-tooltip(msg='{{errors}}')
                #fileName {{basename(file.value)}}
                #fakeFile(show="{{!file.value}}")
                    | Add
                    input(onchange="{{changeFile}}",type="file",name="file")#file
                input(show="{{file.value}}",type="submit",value="Ok")#ok
                web-ripple-button.yellow-round(color="#fff",title="Reset",show="{{file.value}}",onclick="{{resetFile}}")#reset
                web-ripple-button.yellow-round(color="#fff",title="Crop",show="{{cropper.pth}}",onclick="{{openCropDialog}}")#crop
                //#crop(show="{{cropper.pth}}",onclick="{{openCropDialog}}") Crop

