include ../../mixins/icons
header
    //over-ground(center,layred,autoClose,bodyScale="false")
        auth-form
    .row#basic
        .col-lg-10#menu-section
            web-tabs(tabs="{{basicMenu}}",ishashed="true",cls="tabs",ripplecolor="#B0B42B",rippleScale="60")
        .col-lg-2#logo-section(itemscope,itemtype="http://schema.org/Organization")
            a#logo(onclick="{{!content.isAuth ? toggleOverGround : logOut}}")
                +logo
    .row#sub-menu(if="{{subMenu.length!==0}}")
        .col-lg-12#menu-section
            web-tabs(tabs="{{subMenu}}",ishashed="true",cls="tabs",ripplecolor="#B0B42B",rippleScale="60")

