web-textarea
    #wrapper(class='{{error:!isValid,view:mode=="view"}}')
        #placeholder(class="{{focus:focus}}",if='{{mode=="edit"}}') {{placeholder}}
        textarea(value="{{value}}",onfocus="{{focusIn}}",onblur="{{blur}}",name="{{named}}",show='{{mode=="edit"}}')#textarea.textarea-scrollbar.scrollbar-outer
        #clone-border(class="{{focus:hardcoreFocus}}",if='{{mode=="edit"}}')
        #text(if='{{mode=="view"}}') {{value || placeholder}}
        #icons(show='{{mode=="view"}}')