@import 'nib';
@import "./public/stylesheets/vars";
@import "./public/stylesheets/mixins";
@import "./public/app-components/web-textarea/jquery.textarea";
textAreaHeight = 147px;
web-textarea
  /** Wrapper **/
  & >#wrapper
    position relative;
    & > #text
      height 50px;
      line-height 48px;
      font-size 18px;
      color swampTextColor;
      margin-left 50px;
    #icons
      display inline-block;
      width 50px;
      height 50px;
      position absolute;
      z-index 4;
      cursor pointer;
      top:0;
      left: 0;
    &.view
      .scroll-wrapper
        border none !important;
  display inline-block;
  width 100%;
  height textAreaHeight;
  position relative;
  textarea
    padding-top 3px !important;
    padding-left 12px !important;
  /** Clone border **/
  #clone-border
    z-index: 2;
    display block;
    width 100%;
    position absolute;
    top textAreaHeight - 4;
    left 0;
    border 2px solid darken(grayTextColor,10);
    border-top none;
    border-left none;
    height 3px;
    transform scaleX(0);
    transition transform .1s ease-in .1s, height .1s, top .1s;
    &.focus
      top 0px;
      height textAreaHeight - 1;
      left -1px;
      transform scaleX(1);
      border-bottom  2px solid darken(grayTextColor,10);
      transition transform .1s ease-in,height .1s ease-in .1s,top .1s ease-in .1s;
  /** Placeholder **/
  #placeholder
    position absolute;
    z-index: 2;
    font-family baseFanily;
    font-size 18px;
    color grayTextColor;
    padding-left: 12px;
    line-height 50px;
    height 50px;
    transition color .2s ease-in, font-size .2s ease-in,line-height .2s ease-in;
    &.focus
      line-height 14px;
      font-size 12px;
      color lighten(swampTextColor,25);
      transition color .2s ease-in, font-size .2s ease-in,line-height .2s ease-in;


  /*************** SCROLLBAR BASE CSS ***************/

  .scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
  }

  .scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
  }

  .scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  .scroll-element {
    display: none;
    height 127px !important;
    background transparent !important;
    &.scroll-y {
       //position relative;
      right 3px !important;
    }
  }
  .scroll-element, .scroll-element div {
    box-sizing: content-box;
  }

  .scroll-element.scroll-x.scroll-scrollx_visible,
  .scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
  }


  .scroll-element .scroll-bar,
  .scroll-element .scroll-arrow {
    cursor: default;
    background darken(#c2c7b6,1) !important;
    &:hover {
      background darken(#c2c7b6,10) !important;
    }
  }

  .scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
  }
  .scroll-textarea > .scroll-content {
    overflow: hidden !important;
    width: 100% !important;
    height: 120px !important;
    top: 14px;
  }
  .scroll-textarea > .scroll-content > textarea {
    border: medium none !important;
    box-sizing: border-box;
    height: 115% !important;
    margin: 0px;
    max-height: none !important;
    max-width: none !important;
    overflow: hidden !important;
    outline: medium none;
    padding: 2px;
    position: relative !important;
    top: 0px;
    width: 100% !important;
  }
  .scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  .scroll-element_track
    background #daddd3 !important;




  /*************** TEXTAREA STYLES ***************/

  .textarea-scrollbar
    resize none;
    position absolute;
    z-index 3;
    width 100%;
    height textAreaHeight;
    outline none;
    background transparent;
    border 1px solid grayTextColor;
    border-top none;
    border-left none;
    font-family baseFanily;
    font-size 18px;
    color swampTextColor;
    padding 12px;


