web-textarea
    #placeholder(class="{{focus:focus}}") {{placeholder}}
    textarea(value="{{value}}",onfocus="{{focusIn}}",onblur="{{blur}}",named="{{named}}")#textarea.textarea-scrollbar.scrollbar-outer
    #clone-border(class="{{focus:hardcoreFocus}}")
