include svg
header
    user
    over-ground(center,layred,autoClose,bodyScale="false")
        auth-form
    .row#basic
        .col-lg-8.col-md-8.col-sm-6.col-xs-6#menu-section
            ul#menu
                li(each="{{basicMenu}}",class="{{active:active}}")
                    a(href="{{link}}")  {{title}}
        .col-lg-2.col-md-2.visible-lg.visible-md.col#auth-section
        .col-lg-2.col-md-2.col-sm-6.col-xs-6.col#logo-section(itemscope,itemtype="http://schema.org/Organization")
            a#logo(onclick="{{!content.isAuth ? toggleOverGround : logOut}}")
                +logo
    .row#sub-menu(if="{{subMenu.length!==0}}")
        .col-lg-8.col-md-8.col-sm-6.col-xs-6#menu-section
            ul#menu
                li(each="{{subMenu}}",class="{{active:active}}")
                    a(href="{{link}}")  {{title}}
        .col-lg-4.col-md-4.col-sm-6.col-xs-6#empty

