include svg
header
    user
    over-ground(center,layred,autoClose,bodyScale="false")
        auth-form
    .row#basic
        .col-lg-10#menu-section
            ul#menu
                li(each="{{basicMenu}}",class="{{active:active}}")
                    a(href="{{link}}")  {{title}}
        .col-lg-2#logo-section(itemscope,itemtype="http://schema.org/Organization")
            a#logo(onclick="{{!content.isAuth ? toggleOverGround : logOut}}")
                +logo
    .row#sub-menu(if="{{subMenu.length!==0}}")
        .col-lg-12#menu-section
            web-tabs(tabs="{{subMenu}}",ishashed="true",cls="tabs",ripplecolor="#B0B42B",rippleScale="60")

