@import "./public/stylesheets/vars";
@import "./public/stylesheets/mixins";
header
  display block;
  height auto;
  width 100%;
  .col
    padding 23px 0;
  /*>>>Basic Header<<<*/
  .row#basic
    height headerHeight;
    background basicBackgroundColor;
    /*>>>Logo Section<<<*/
    #logo-section
      #logo
          display block;
          float right;
          width 60%;
          cursor pointer;
          margin-right 10%;
          svg
            display block;
            margin 0 auto;
            width 80%;
    /*>>>Auth Section<<<*/
    #auth-section
      line-height 31px;
    /*>>>Menu Section<<<*/
    #menu-section
      padding 0;
      & > ul#menu
        list-style none;
        display inline;
        vertical-align top;
        height 100%;
        li
          &.active
            position relative;
            height 95px;
            background basicBackgroundColor;
          menu(menuItemFontSize,whiteTextColor,darken(basicBackgroundColor, 10),75px);
  /**>>>>Additional header<<<<**/
  .row#sub-menu
    margin-top 30px;
    width 100%;
    height 50px;
    & > #menu-section
      padding 0;
      background basicBodyColor;
      & > ul#menu
        list-style none;
        display inline;
        vertical-align top;
        height 100%;
        li
          &.active
            background basicBackgroundColor;
            a
              color whiteTextColor;
          menu(menuItemFontSize,grayTextColor,basicBackgroundColor,50px);




