extends ../layouts/index
block menu
    //avatar(email="#{user ? user.email : ''}",full="#{user ? user.fullAvatar : ''}",cropped="#{user ? user.croppedAvatar : ''}")
block content
    .row
        .col-lg-2
        .col-lg-3
            | DO YOU SUBSCRIBE ON WEBSTARTER ?
        .col-lg-1
        .col-lg-3
