extends ../layouts/index
include ../../../public/mixins/icons
include ../../../public/mixins/filters
block menu
    avatar(email="#{email}",full="#{fullAvatar}",cropped="#{croppedAvatar}",isupdate="#{imageUpdate}")
block content
    .row
        form(action="/user",method="POST")
            .col-lg-2
            //web-goo-button.yellow-round(title="Reset",starton="true",left-escort)
            .col-lg-3
                web-input(placeholder="First Name",named="firstName",validation='[{regexp:/^[a-zA-Z0-9а-яА-Я- ]+$/i,msg:"FirstnameError"}]',required="true")
                web-input(placeholder="Last Name",named="lastName",validation='[{regexp:/^[a-zA-Z0-9а-яА-Я- ]+$/i,msg:"LastnameError"}]',required="true")
                web-datepicker(placeholder="Date of Birth (YYYY-MM-DD)",validation='[{regexp:/^((19[0-9]{2}|2[0-9]{3})-(0[1-9]|1[012])-([123]0|[012][1-9]|31)|)$/i,msg:"DateError"}]',named="birthDate")
                    #icon
                        +date
                web-input(placeholder="http(s)://website.com",named="website",validation='[{regexp:"/^(http(s?)u005C:u005C/u005C/([u005Cw]+u005C.){1}([u005Cw]+u005C.?)|)$/i",msg:"WebsiteError"}]')
                web-input(placeholder="Motto",named="motto",maxlength="30")
                    #icon
                        +motto
            .col-lg-1
            .col-lg-3
                web-input(placeholder="Location",named="location",validation='[{regexp:/^([a-zA-Z0-9а-яА-Я- ]+|)$/i,msg:"LocationError"}]')
                    #icon
                        +location
                web-input(placeholder="Country",named="country",validation='[{regexp:/^([a-zA-Z0-9а-яА-Я- ]+|)+$/i,msg:"CountryError"}]')
                web-chooser(named="gender",buttons='[{title:"Man",value:"male"},{title:"Woman",value:"female"}]')
                web-textarea(placeholder="About Me",named="about")





