mixin goo
    svg(xmlns='http://www.w3.org/2000/svg', version='1.1')
        defs
            filter#goo
                fegaussianblur(in='SourceGraphic', result='blur', stddeviation='10')
                fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9', result='goo')
                feComposite(in="SourceGraphic",in2="goo",operator="atop")