mixin location
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#basic_x5F_geolocalize-05_1_
            g
                g
                    circle(fill='none', stroke='#B3A99C', stroke-miterlimit='10', cx='25.003', cy='15.519', r='2.303')
                    path(fill='none', stroke='#B3A99C', stroke-miterlimit='10', d='M32.487,16.682c-0.019-4.46-3.349-8.073-7.484-8.073\
            s-7.484,3.613-7.484,8.073c0,5.771,7.472,14.957,7.472,14.957S32.515,22.453,32.487,16.682z')
                polyline(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='18.669,25.882 13.488,25.882 7.153,37.398 25.003,37.398 \
          42.852,37.398 36.518,25.882 31.337,25.882 		')