mixin location
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#basic_x5F_geolocalize-05_1_
            g
                g
                    circle(fill='none', stroke='#B3A99C', stroke-miterlimit='10', cx='25.003', cy='15.519', r='2.303')
                    path(fill='none', stroke='#B3A99C', stroke-miterlimit='10', d='M32.487,16.682c-0.019-4.46-3.349-8.073-7.484-8.073\
            s-7.484,3.613-7.484,8.073c0,5.771,7.472,14.957,7.472,14.957S32.515,22.453,32.487,16.682z')
                polyline(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='18.669,25.882 13.488,25.882 7.153,37.398 25.003,37.398 \
          42.852,37.398 36.518,25.882 31.337,25.882')
mixin date
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#basic_x5F_calendar_1_
            g
                line(fill='none', stroke='#B3A99C', stroke-miterlimit='10', x1='30.443', y1='16.213', x2='18.968', y2='16.213')
                polyline(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='16.509,16.213 12,16.213 12,35.887 37.411,35.887 \
                    37.411,16.213 32.902,16.213 		')
                rect(x='16.509', y='14.574', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='2.459', height='3.279')
                rect(x='30.443', y='14.574', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='2.459', height='3.279')
                rect(x='15.689', y='21.951', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='4.098', height='4.1')
                rect(x='15.689', y='29.33', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='4.098', height='4.098')
                rect(x='29.624', y='21.951', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='4.099', height='4.1')
                rect(x='29.624', y='29.33', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='4.099', height='4.098')
                rect(x='22.656', y='21.951', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='4.099', height='4.1')
                rect(x='22.656', y='29.33', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='4.099', height='4.098')
                line(fill='none', stroke='#B3A99C', stroke-miterlimit='10', x1='12', y1='19.492', x2='37.411', y2='19.492')
mixin motto
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#basic_x5F_elaboration_x5F_message_x5F_heart_2_
            polygon(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='24.754,31.121 37.51,31.121 37.51,13.84 12,13.84 12,31.121 \
        18.994,31.121 18.994,36.059 	')
                path(fill='none', stroke='#B3A99C', stroke-miterlimit='10', d='M20.639,21.246c0,2.742,4.115,4.938,4.115,4.938\
          s4.115-2.195,4.115-4.938c0-1.137-0.823-2.057-2.058-2.057c-1.136,0-2.058,0.92-2.058,2.057c0-1.137-0.92-2.057-2.057-2.057\
          C21.463,19.189,20.639,20.109,20.639,21.246z')
mixin leftArrow
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='20px', height='20px', viewbox='0 0 20 20', enable-background='new 0 0 20 20', xml:space='preserve')
        g#arrow_left_1_
            g
                polyline(fill='none', stroke='#B7AFA5', stroke-miterlimit='10', points='14.955,1.124 5.955,10.098 14.955,19.124 		')
mixin rightArrow
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='20px', height='20px', viewbox='0 0 20 20', enable-background='new 0 0 20 20', xml:space='preserve')
        g#arrow_left_2_
            g
                polyline(fill='none', stroke='#B7AFA5', stroke-miterlimit='10', points='5.045,1.124 14.045,10.098 5.045,19.124 		')





