mixin location
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#basic_x5F_geolocalize-05_1_
            g
                g
                    circle(fill='none', stroke='#B3A99C', stroke-miterlimit='10', cx='25.003', cy='15.519', r='2.303')
                    path(fill='none', stroke='#B3A99C', stroke-miterlimit='10', d='M32.487,16.682c-0.019-4.46-3.349-8.073-7.484-8.073\
            s-7.484,3.613-7.484,8.073c0,5.771,7.472,14.957,7.472,14.957S32.515,22.453,32.487,16.682z')
                polyline(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='18.669,25.882 13.488,25.882 7.153,37.398 25.003,37.398 \
          42.852,37.398 36.518,25.882 31.337,25.882')
mixin date
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#basic_x5F_calendar_1_
            g
                line(fill='none', stroke='#B3A99C', stroke-miterlimit='10', x1='30.443', y1='16.213', x2='18.968', y2='16.213')
                polyline(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='16.509,16.213 12,16.213 12,35.887 37.411,35.887 \
                    37.411,16.213 32.902,16.213 		')
                rect(x='16.509', y='14.574', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='2.459', height='3.279')
                rect(x='30.443', y='14.574', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='2.459', height='3.279')
                rect(x='15.689', y='21.951', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='4.098', height='4.1')
                rect(x='15.689', y='29.33', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='4.098', height='4.098')
                rect(x='29.624', y='21.951', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='4.099', height='4.1')
                rect(x='29.624', y='29.33', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='4.099', height='4.098')
                rect(x='22.656', y='21.951', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='4.099', height='4.1')
                rect(x='22.656', y='29.33', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='4.099', height='4.098')
                line(fill='none', stroke='#B3A99C', stroke-miterlimit='10', x1='12', y1='19.492', x2='37.411', y2='19.492')
mixin motto
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#basic_x5F_elaboration_x5F_message_x5F_heart_2_
            polygon(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='24.754,31.121 37.51,31.121 37.51,13.84 12,13.84 12,31.121 \
        18.994,31.121 18.994,36.059 	')
                path(fill='none', stroke='#B3A99C', stroke-miterlimit='10', d='M20.639,21.246c0,2.742,4.115,4.938,4.115,4.938\
          s4.115-2.195,4.115-4.938c0-1.137-0.823-2.057-2.058-2.057c-1.136,0-2.058,0.92-2.058,2.057c0-1.137-0.92-2.057-2.057-2.057\
          C21.463,19.189,20.639,20.109,20.639,21.246z')
mixin leftArrow
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='20px', height='20px', viewbox='0 0 20 20', enable-background='new 0 0 20 20', xml:space='preserve')
        g#arrow_left_1_
            g
                polyline(fill='none', stroke='#B7AFA5', stroke-miterlimit='10', points='14.955,1.124 5.955,10.098 14.955,19.124 		')
mixin rightArrow
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='20px', height='20px', viewbox='0 0 20 20', enable-background='new 0 0 20 20', xml:space='preserve')
        g#arrow_left_2_
            g
                polyline(fill='none', stroke='#B7AFA5', stroke-miterlimit='10', points='5.045,1.124 14.045,10.098 5.045,19.124 		')


mixin diamond
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#diamond_1_
            polyline(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='23,12 31.5,12 40,22.5 24.5,38 9,22.5 17.5,12 24.5,12 \
                24.5,38 	')
            polyline(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='24.5,37.5 17.5,22.5 20.5,12 	')
            polyline(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='24.5,37.5 31.5,22.5 28.5,12 	')
            line(fill='none', stroke='#B3A99C', stroke-miterlimit='10', x1='9', y1='22.5', x2='40', y2='22.5')
mixin bucket
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='15px', height='15px', viewbox='0 0 15 15', enable-background='new 0 0 15 15', xml:space='preserve')
        g#basic_x5F_trashcan
            g
                polyline(fill='none', stroke='#D6C46E', stroke-miterlimit='10', points='6.498,3.34 6.498,2.175 8.83,2.175 8.83,3.34 		')
                polyline(fill='none', stroke='#D6C46E', stroke-miterlimit='10', points='4.666,3.674 4.666,12.5 10.661,12.5 10.661,3.674 		')
                line(fill='none', stroke='#D6C46E', stroke-miterlimit='10', x1='6.665', y1='5.339', x2='6.665', y2='11.001')
                line(fill='none', stroke='#D6C46E', stroke-miterlimit='10', x1='8.663', y1='5.339', x2='8.663', y2='11.001')
                line(fill='none', stroke='#D6C46E', stroke-miterlimit='10', x1='4', y1='3.507', x2='11.327', y2='3.507')
mixin boldText
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g
            g
                path(fill='#B7AFA5', d='M18.035,11L9,36.17l3.25,1.023L15.127,29h8.824l2.877,8.13l3.25-0.995L21.042,11H18.035z M16.359,26\
          l3.18-8.903L22.719,26H16.359z')
                path(fill='#B7AFA5', d='M40.056,28.569c0-2.23-1.764-4.601-4.938-4.601c-3.074,0-4.427,1.651-4.568,1.84l2.748,2.07\
          c0,0-0.022,0.027-0.062,0.068c0.021-0.021,0.513-0.313,1.834-0.313c1.397,0,1.436,1.365,1.436,1.365h-1.15\
          c-2.77,0-5.751,1.225-5.751,4.386c0,2.838,1.763,4.493,4.601,4.493c1.291,0,2.412-0.363,3.313-0.93\
          c0.524,0.529,1.245,0.85,2.15,0.85L40.056,28.569z M34.204,34.311c-0.877,0-1.15-0.164-1.15-1.156\
          c0-1.078,2.286-1.154,2.301-1.154h1.15C36.505,34,36.231,34.311,34.204,34.311z')
mixin italicText
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g
            g
                path(fill='#B7AFA5', d='M30.315,37.538c0,0.148-0.025,0.327-0.074,0.538c0,0.123-0.062,0.185-0.186,0.185h-6.728\
          c-0.074,0-0.099-0.074-0.074-0.222c0-0.063,0.006-0.155,0.019-0.278c0.013-0.124,0.019-0.198,0.019-0.223\
          c0.024-0.173,0.104-0.26,0.241-0.26h1.501c0.42,0,0.587-0.383,0.5-1.148c-0.024-0.198-0.213-1.285-0.565-3.263\
          c-0.352-1.977-0.556-3.082-0.611-3.317c-0.056-0.234-0.17-0.352-0.343-0.352h-8.47c-0.074,0.012-0.148,0.086-0.223,0.222\
          c-0.654,1.162-1.378,2.78-2.168,4.856c-0.358,0.951-0.568,1.698-0.631,2.242c-0.074,0.507,0,0.76,0.223,0.76h1.854\
          c0.136,0,0.186,0.087,0.148,0.26c-0.013,0.136-0.037,0.315-0.074,0.538c0,0.123-0.05,0.185-0.148,0.185H8.297\
          c-0.123,0-0.185-0.062-0.185-0.185c0.049-0.211,0.073-0.414,0.073-0.612c0.037-0.123,0.087-0.186,0.148-0.186h1.112\
          c0.321,0,0.71-0.383,1.168-1.148c1.779-3.46,3.602-7.013,5.467-10.657c1.779-3.496,3.627-7.129,5.542-10.897\
          c0.26-0.52,0.562-1.125,0.908-1.816c0.222-0.384,0.426-0.6,0.611-0.649c0.309-0.099,0.741-0.24,1.298-0.426\
          c0.086-0.024,0.16-0.037,0.222-0.037c0.111,0.063,0.198,0.216,0.26,0.463c-0.013,0.063-0.062,0.137-0.148,0.223\
          c-0.049,0.063-0.204,0.241-0.463,0.538c-0.26,0.296-0.396,0.562-0.408,0.798c-0.024,0.382,0,0.796,0.074,1.24\
          c0.433,2.447,1.229,6.369,2.391,11.77c0.507,2.422,1.131,5.244,1.872,8.47c0.383,1.421,0.81,2.131,1.279,2.131h0.686\
          C30.315,37.278,30.353,37.365,30.315,37.538z M23.865,27.512c-0.21-1.1-0.524-2.73-0.945-4.894\
          c-0.197-0.964-0.524-2.848-0.981-5.652c-0.037-0.198-0.081-0.297-0.13-0.297c-0.063,0-0.136,0.099-0.223,0.297\
          c-0.815,1.569-1.675,3.269-2.576,5.097c-0.074,0.16-0.531,1.078-1.372,2.752c-0.84,1.675-1.278,2.549-1.315,2.623\
          c-0.074,0.111-0.111,0.191-0.111,0.24c0,0.074,0.05,0.111,0.148,0.111h7.395C23.828,27.789,23.865,27.697,23.865,27.512z')
                path(fill='#B7AFA5', d='M42.496,36.932c0.032,0.048,0.016,0.106-0.047,0.178c-0.261,0.269-0.762,0.564-1.505,0.889\
          c-0.741,0.323-1.275,0.485-1.599,0.485c-0.15,0-0.225-0.079-0.225-0.237c0-1.042,0.099-2.215,0.295-3.518\
          c0.024-0.174,0.005-0.261-0.059-0.261c-0.055,0-0.11,0.071-0.166,0.214c-0.339,0.868-0.849,1.67-1.527,2.404\
          c-0.474,0.513-0.802,0.837-0.983,0.971c-0.379,0.285-0.785,0.427-1.221,0.427c-0.686,0-1.243-0.355-1.669-1.065\
          c-0.427-0.712-0.64-1.683-0.64-2.914c0-1.982,0.687-3.728,2.061-5.235c1.105-1.216,2.4-1.824,3.885-1.824\
          c0.529,0,1.031,0.067,1.505,0.201c0.182,0.048,0.304,0,0.367-0.142c0.118-0.309,0.189-0.585,0.213-0.83\
          c0.023-0.11,0.091-0.166,0.202-0.166H42.2c0.056,0,0.091,0.004,0.106,0.013c0.024,0.016,0.021,0.06-0.012,0.13\
          c-0.315,0.798-0.557,1.631-0.723,2.499c-0.269,1.453-0.47,2.736-0.604,3.851c-0.214,1.761-0.32,3.146-0.32,4.157\
          c0,0.134,0.052,0.197,0.154,0.189c0.348-0.017,0.813-0.218,1.397-0.604c0.063-0.039,0.114-0.039,0.154,0\
          C42.418,36.805,42.465,36.869,42.496,36.932z M40.258,28.416c0.023-0.15-0.063-0.253-0.261-0.309\
          c-0.229-0.063-0.521-0.095-0.876-0.095c-0.885,0-1.773,0.442-2.665,1.326c-1.185,1.185-1.777,2.819-1.777,4.904\
          c0,0.939,0.158,1.662,0.474,2.167c0.269,0.451,0.604,0.676,1.007,0.676c0.411,0,0.854-0.234,1.333-0.705\
          c0.478-0.47,0.891-1.088,1.238-1.854c0.394-0.853,0.777-2.176,1.148-3.968C40.068,29.62,40.194,28.904,40.258,28.416z')
mixin underlineText
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#software_x5F_font_x5F_strikethrough_1_
            g
                path(fill='#B7AFA5', d='M27.712,34.817l1.083-0.335L20.032,10h-1.386L9.884,34.482l1.083,0.361L14.117,26h10.444L27.712,34.817z\
          M14.527,25l4.813-13.474L24.151,25H14.527z')
                path(fill='#B7AFA5', d='M39,32.32v-5.751c0-1.334-1.211-3.45-3.936-3.45c-2.559,0-3.68,1.323-3.723,1.381l0.867,0.695\
          c0.03-0.037,1.009-0.927,2.955-0.927c1.898,0,2.836,1.376,2.836,2.301V28h-2.845c-1.592,0-4.602,0.581-4.602,3.311\
          c0,2.193,1.258,3.381,3.451,3.381c1.573,0,2.563-0.551,3.353-1.485C37.582,33.92,39,34.621,39,34.621v-1.15\
          C39,33.471,39,32.51,39,32.32z M34.277,33.471c-0.986,0-2.438-0.174-2.438-2.235c0-2.264,3.175-2.235,3.315-2.235H38v1.02\
          C38,32.872,35.852,33.471,34.277,33.471z')
                g
                    rect(x='9.851', y='37.496', fill='#B7AFA5', width='29.905', height='1.15')
mixin bigLetter
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#software_x5F_font_x5F_strikethrough_2_
            path(fill='#B7AFA5', d='M32.828,36.317l1.083-0.085L25.148,12h-1.386L15,35.982l1.083,0.611L19.233,28h10.444L32.828,36.317z\
        M19.644,27l4.813-13.474L29.268,27H19.644z')
mixin smallLetter
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#software_x5F_font_x5F_strikethrough_6_
            g
                path(fill='#B7AFA5', d='M29.294,31.761L30,31.744L24.295,16h-0.902l-5.706,15.752l0.704,0.121L20.442,26h6.802L29.294,31.761z\
          M20.71,25l3.133-8.773L26.976,25H20.71z')
mixin alignLeft
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#software_x5F_paragraph_x5F_align_x5F_left_2_
            g
                rect(x='10', y='12', fill='#B7AFA5', width='30.768', height='0.963')
            g
                rect(x='10', y='16.808', fill='#B7AFA5', width='22.115', height='0.963')
            g
                rect(x='10', y='21.614', fill='#B7AFA5', width='30.768', height='0.964')
            g
                rect(x='10', y='26.422', fill='#B7AFA5', width='24.037', height='0.964')
            g
                rect(x='10', y='31.229', fill='#B7AFA5', width='30.768', height='0.963')
            g
                rect(x='10', y='36.037', fill='#B7AFA5', width='25.959', height='0.963')
mixin alignRight
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#software_x5F_paragraph_x5F_align_x5F_right_2_
            g
                rect(x='9.229', y='12', fill='#B7AFA5', width='30.771', height='0.963')
            g
                rect(x='17.881', y='16.808', fill='#B7AFA5', width='22.119', height='0.963')
            g
                rect(x='9.229', y='21.614', fill='#B7AFA5', width='30.771', height='0.964')
            g
                rect(x='15.958', y='26.422', fill='#B7AFA5', width='24.042', height='0.964')
            g
                rect(x='9.229', y='31.229', fill='#B7AFA5', width='30.771', height='0.963')
            g
                rect(x='14.036', y='36.037', fill='#B7AFA5', width='25.964', height='0.963')
mixin alignCenter
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#software_x5F_paragraph_x5F_center_2_
            g
                rect(x='9.23', y='12', fill='#B7AFA5', width='30.771', height='0.963')
            g
                rect(x='13.559', y='16.808', fill='#B7AFA5', width='22.115', height='0.963')
            g
                rect(x='9.23', y='21.614', fill='#B7AFA5', width='30.771', height='0.964')
            g
                rect(x='12.596', y='26.422', fill='#B7AFA5', width='24.041', height='0.964')
            g
                rect(x='9.23', y='31.229', fill='#B7AFA5', width='30.771', height='0.963')
            g
                rect(x='11.637', y='36.037', fill='#B7AFA5', width='25.959', height='0.963')
mixin alignJustify
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#software_x5F_paragraph_x5F_justify_x5F_all_2_
            g
                rect(x='10', y='12', fill='#B7AFA5', width='30.771', height='0.963')
            g
                rect(x='10', y='16.808', fill='#B7AFA5', width='30.771', height='0.963')
            g
                rect(x='10', y='21.614', fill='#B7AFA5', width='30.771', height='0.964')
            g
                rect(x='10', y='26.422', fill='#B7AFA5', width='30.771', height='0.964')
            g
                rect(x='10', y='31.229', fill='#B7AFA5', width='30.771', height='0.963')
            g
                rect(x='10', y='36.037', fill='#B7AFA5', width='30.771', height='0.963')
mixin textBullet
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#software_x5F_paragraph_x5F_justify_x5F_all_3_
            g
                rect(x='15', y='14.808', fill='#B7AFA5', width='30.771', height='0.963')
            g
                rect(x='15', y='24.422', fill='#B7AFA5', width='30.771', height='0.964')
            g
                rect(x='15', y='34.037', fill='#B7AFA5', width='30.771', height='0.963')
            circle(fill='#B7AFA5', cx='7.501', cy='14.5', r='2.5')
            circle(fill='#B7AFA5', cx='7.501', cy='24.5', r='2.5')
            circle(fill='#B7AFA5', cx='7.501', cy='35.5', r='2.5')

mixin image
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#basic_x5F_picture_x5F_multiple_2_
            g
                rect(x='5.25', y='15', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='32.5', height='25')
            polyline(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='10.875,13.75 10.875,10 44,10 44,35 39,35 	')
            polyline(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='5.25,33.75 14,25 22.75,35 29,31.25 37.75,38.75 	')
            circle(fill='none', stroke='#B3A99C', stroke-miterlimit='10', cx='29.625', cy='23.125', r='3.125')
mixin imager
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#basic_x5F_picture_x5F_multiple_2_
            g
                rect(x='5.25', y='15', fill='none', stroke='#B3A99C', stroke-miterlimit='10', width='32.5', height='25')
            polyline(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='10.875,13.75 10.875,10 44,10 44,35 39,35 	')
            polyline(fill='none', stroke='#B3A99C', stroke-miterlimit='10', points='5.25,33.75 14,25 22.75,35 29,31.25 37.75,38.75 	')
            circle(fill='none', stroke='#B3A99C', stroke-miterlimit='10', cx='29.625', cy='23.125', r='3.125')
mixin link
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='50px', height='50px', viewbox='0 0 50 50', enable-background='new 0 0 50 50', xml:space='preserve')
        g#basic_x5F_link_2_
            path(fill='none', stroke='#B3A99C', stroke-miterlimit='10', d='M27.435,24.537c0.592,0.258,1.245,0.401,1.933,0.4\
        c1.581-0.001,2.986-0.762,3.868-1.938l5.799-5.807c0.607-0.81,0.968-1.814,0.966-2.902c-0.003-2.672-2.169-4.836-4.84-4.834\
        c-1.088,0.002-2.093,0.361-2.901,0.97l-6.283,6.291c-0.854,0.873-1.449,2.069-1.448,3.387c0,0.688,0.145,1.344,0.404,1.937')
            path(fill='none', stroke='#B3A99C', stroke-miterlimit='10', d='M27.435,24.537')
            path(fill='none', stroke='#B3A99C', stroke-miterlimit='10', d='M24.933,22.041c0.025,0.059,0.051,0.116,0.08,0.173')
            path(fill='none', stroke='#B3A99C', stroke-miterlimit='10', d='M22.595,24.378c-0.593-0.259-1.247-0.402-1.934-0.401\
        c-1.089,0.001-2.094,0.361-2.901,0.969l-6.282,6.292c-0.854,0.873-1.449,2.068-1.448,3.386c0.001,2.672,2.167,4.836,4.839,4.834\
        c1.582-0.002,2.986-0.762,3.868-1.938l5.798-5.808c0.608-0.81,0.968-1.814,0.968-2.902c-0.002-0.688-0.146-1.342-0.405-1.933')
            line(fill='none', stroke='#B3A99C', stroke-miterlimit='10', x1='20.664', y1='28.813', x2='29.364', y2='20.102')
mixin dollar
    svg(version='1.1', id='Слой_1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='75px', height='75px', viewbox='0 0 75 75', enable-background='new 0 0 75 75', xml:space='preserve')
        g#ecommerce_x5F_dollar
            rect(x='30.937', y='18.612', fill='#B0B535', width='1.427', height='27.798')
            rect(x='33.791', y='18.612', fill='#B0B535', width='1.427', height='27.798')
            path(fill='none', stroke='#B0B535', stroke-width='4', stroke-miterlimit='10', d='M39.485,27.108c0,0,0-4.274-6.415-4.274\
        c-6.414,0-5.703,4.987-5.703,4.987s0,4.987,5.703,4.987c6.415,0,7.134,4.281,7.134,4.987c0,1.427,0.705,5.71-7.134,5.71\
        c-6.414,0-6.408-2.855-6.408-3.568')
            g
                path(fill='#B0B535', d='M33.08,57.386c-6.377,0-12.372-2.48-16.872-6.992c-4.511-4.501-6.992-10.495-6.992-16.872\
          c0-6.375,2.48-12.37,6.992-16.872c4.5-4.511,10.495-6.991,16.87-6.991s12.37,2.479,16.874,6.991\
          c4.51,4.502,6.989,10.497,6.989,16.872c0,6.376-2.479,12.371-6.989,16.872C45.447,54.905,39.455,57.386,33.08,57.386z\
          M33.078,13.194c-5.428,0-10.533,2.114-14.369,5.955c-3.843,3.837-5.958,8.944-5.958,14.373c0,5.431,2.114,10.537,5.958,14.372\
          c3.836,3.842,8.94,5.959,14.371,5.959c5.429,0,10.537-2.117,14.372-5.959c3.841-3.837,5.957-8.94,5.957-14.372\
          c0-5.429-2.116-10.536-5.957-14.373C43.616,15.308,38.509,13.194,33.078,13.194z')
            path(fill='#B0B535', d='M58.791,24.604c-0.594-0.594-1.215-1.146-1.857-1.667c1.058,2.384,1.752,4.923,2.055,7.554\
        c2.106,3.249,3.258,7.021,3.258,10.982c0,5.432-2.11,10.536-5.954,14.372c-3.84,3.846-8.945,5.959-14.377,5.959\
        c-3.245,0-6.364-0.77-9.17-2.203c-2.649-0.031-5.233-0.457-7.688-1.246c4.505,4.508,10.494,6.984,16.858,6.984\
        c6.379,0,12.369-2.479,16.876-6.994c4.509-4.502,6.993-10.492,6.993-16.872C65.784,35.104,63.3,29.109,58.791,24.604z')




















