web-ripple-button
    #button(onmousedown="{{rippleIn}}",onmouseup="{{rippleOut}}",onmouseleave="{{rippleOut}}",onclick="{{onClickHandler}}")
        {{title}}
        web-ripple(color="{{opts.color}}")
