x-tooltip
  display block;
  position absolute;
  #wrapper
    text-align center;
    padding 10px;
    background #ccc;
    color: #fff;
    font-size 14px;
    max-width 200px;
    &:before
      content: '';
      position absolute;
      left: 50%;
      margin-left -5px;
      top: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 8px 0 8px;
      border-color: #CC4C62 transparent transparent transparent;
    &.error
      background #CC4C62;
@-webkit-keyframes tooltip-in {
  0% {
    opacity 0;
    transform translateY(-6px);
  }
  50%{
    transform translateY(0px);
  }
  70%{
    transform translateY(-2px);
  }
}
@-webkit-keyframes tooltip-out {
  0%{
    opacity(1);
  }
}
@keyframes tooltip-in {
  0% {
    opacity 0;
    transform translateY(-6px);
  }
  50%{
    transform translateY(0px);
  }
  70%{
    transform translateY(-2px);
  }
}
@keyframes tooltip-out {
  0%{
    opacity(1);
  }
}

