x-tooltip
  display block;
  position absolute;
  #wrapper
    text-align center;
    padding 10px;
    background #ccc;
    color: #fff;
    font-size 14px;
    max-width 200px;
    &:before
      content: '';
      position absolute;
      left: 50%;
      margin-left -5px;
      top: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 8px 0 8px;
      border-color: #CC4C62 transparent transparent transparent;
    &.error
      background #CC4C62;

