@import "./public/stylesheets/vars";
@import "./public/stylesheets/mixins";
menu-header
  .row#header
    height headerHeight;
    background secondaryColor;
    width 100%;
    display block;
    padding 19px 0;
    max-width 320px;
    overflow hidden;
    basicLightFontStyle(25px);



