include ../../mixins/icons
web-project
    #pjctName {{projectName || "Project Name"}}
    #author by {{author}}
    #projectCardWrapper
        #topInformation
            #icon
                +location
            #text {{location || "Location"}}, {{country || "Country"}}
            #tags
                .tag(each="{{n in tg}}")
                    .title {{n}}
                    .remove
        #imageWrapper
            web-image(action="/project/add/image",cropperWidth="802",cropperHeight="450",aspectRatio="535/300",cropAction="/user/crop-work-image",named="Image")
        #sliderWrapper
            web-slide(opened="true",timein="800",timeout="800",ease="Power2",apperance="left-queue",name="basicSet",staggertime="0.2")#basicSet
                web-input.queue(placeholder="I need",required="true",validation='[{regexp:/^[0-9]+$/i,msg:"MoneyError"}]',name="iNeed",named="bid",style="max-width: 365px")#iNeed
                    #icon
                        +dollar
                web-spinner-input.queue(min="14",text="DAYS",max="60",closeto="#basicSet",placeholder="For",validation='[{regexp:/^[0-9]+$/i,msg:"DayCountError"}]',required="true",name="for")#for
                    #icon
                        +date
    web-tabs(tabs='[{link:"",title:"Basic"},{link:"",title:"Advanced"}]',ishashed="false",cls="tabs",ripplecolor="#B0B42B",rippleScale="60")#tabs
    #tabWrapper
        web-slide(opened="true",timein="800",timeout="800",ease="Power2",apperance="left-queue",name="basicInformation",staggertime="0.2")#basicInformation
            .row#nameWrapper
                .col-lg-8
                    web-input(placeholder="Project Name",required="true",validation='[{regexp:/^([a-zA-Z0-9а-яА-Я- ]|)+$/i,msg:"ProjectNameError"}]',name="projectName",named="name")#projectName
                        #icon
                            +diamond
                .col-lg-4
                    web-tags(placeholder="Tags (3 max)",limit="3",data='["Medicine","IT","Food","Fraud"]',named="tags",name="projectTags")#projectTags
                        #icon
                            +diamond
            .row#locationWrapper
                .col-lg-8
                    web-textarea(placeholder="Briefly about project",name="aboutProject",named="about")#aboutProject
                .col-lg-4
                    web-select(placeholder="Country",name="projectCountry",named="country",validation='[{regexp:/^([a-zA-Z0-9а-яА-Я- ]+|)+$/i,msg:"CountryError"}]',data='["Argentia","Belarus","Grenlandia"]',limit="4")#projectCountry
                        #icon
                            +diamond
                    web-input(placeholder="Location",validation='[{regexp:/^([a-zA-Z0-9а-яА-Я- ]|)+$/i,msg:"AboutProjectError"}]',name="projectLocation",named="location")#projectLocation
                        #icon
                            +location
            .row
                web-editor(placeholder="Project Story",name="description",named="description")#description
