include ../../mixins/icons
web-education
    input(type="hidden",name="{{named}}",value="{{JSON.stringify(educations)}}")
    #wrapper
        #educations-wrapper
            .educations.queue(each="{{education in educations}}",onclick="{{parent.edit}}")
                .universityName(title="{{education.universityName}}") {{parent.sub(education.universityName)}} &nbsp;
                .date {{parent.dateFormat(education.dateFrom,education.dateTo)}} &nbsp;
                .universityLocation {{education.universityLocation}} {{education.degree ? ", &nbsp;" : ""}}
                .degree {{education.degree}}
        web-ripple-button.purple-round(title="Add Education",name="add")#add
        web-slide(mode="absolute",vww="101%",closeto="#fsLeft",opened="false",ease="Power0",timein="400",timeout="400",staggertime="0.05",apperance="right-queue")#educationSlide
                #fieldset.queue Education
                web-input.queue(placeholder="University name",required="true",name="universityName",validation='[{regexp:/^([a-zA-Z0-9а-яА-Я- ]+|)$/i,msg:"universityNameError"}]')#universityName
                    #icon
                        +diamond
                web-input.queue(placeholder="University location",name="universityLocation",validation='[{regexp:/^([a-zA-Z0-9а-яА-Я- ]+|)$/i,msg:"universityLocationError"}]')#universityLocation
                    #icon
                        +location
                web-input.queue(placeholder="Degree",name="degree",validation='[{regexp:/^([a-zA-Z0-9а-яА-Я- ]+|)$/i,msg:"DegreeError"}]')#degree
                    #icon
                        +diamond
                web-datepicker.queue(type="fromto",placeholder="University name",container="slide",closeto="#fsLeft",validation='[{regexp:/^((19[0-9]{2}|2[0-9]{3})-(0[1-9]|1[012])-([123]0|[012][1-9]|31)|)$/i,msg:"DateError"}]')#educationDate
                web-ripple-button.queue.purple-round(title='Add Education',name="push")#push
                web-ripple-button.queue.purple-round(title="Back",name="back")#back


