cropper
    user
    #wrapper
        #cropper
            img(src="{{pth}}",show="{{!inProcess}}")#image
        #button(onclick="{{cropOnServer}}",show="{{!inProcess}}") CROP
        #backdrop(show="{{inProcess}}")
            #loading


