cropper
    web-xhr(json="true",name="xhr")
    #wrapper
        input(type="hidden",value="{{pth}}")
        #cropper
            img(riot-src="{{pth}}",show="{{!inProcess}}")#image
        web-ripple-button.yellow-round.w150(color="#fff",title="Crop",onclick="{{cropOnServer}}",show="{{!inProcess}}")#button
        #backdrop(show="{{inProcess}}")
            #loading


