cropper
    user
    #wrapper
        #cropper
            img(src="{{pth}}",show="{{!inProcess}}")#image
        web-ripple-button.yellow-round(color="#fff",title="Crop",onclick="{{cropOnServer}}",show="{{!inProcess}}")#button
        #backdrop(show="{{inProcess}}")
            #loading


